{% extends "layout.html" %}
{% block body %}

    <div class="well editPanel">
        <h2>Ajouter une carte.</h2>
        <form action="{{ url_for('add_card') }}" method="post" class="cardForm">
            <div class="form-group">
                <label for="cpp" class="toggleButton btn btn-default btn-lg">C/C++ &nbsp;
                    <input type="radio" name="type" value="1" id="cpp"/>
                </label>
                <label for="web" class="toggleButton btn btn-default btn-lg">Web &nbsp;
                    <input type="radio" name="type" value="2" id="web"/>
                </label>
				<label for="alglin" class="toggleButton btn btn-default btn-lg">Algèbre Linéaire &nbsp;
                    <input type="radio" name="type" value="3" id="alglin"/>
                </label>
				<label for="mathdi" class="toggleButton btn btn-default btn-lg">Maths discrète &nbsp;
                    <input type="radio" name="type" value="4" id="mathdi"/>
                </label>
				<label for="eco" class="toggleButton btn btn-default btn-lg">Economie &nbsp;
                    <input type="radio" name="type" value="5" id="eco"/>
                </label>
				<label for="systeme" class="toggleButton btn btn-default btn-lg">Système &nbsp;
                    <input type="radio" name="type" value="6" id="systeme"/>
                </label>

            </div>
            <div class="form-group fieldFront">
                <label for="front">Sujet</label>
                <input type="text" name="front" id="front" class="form-control">
            </div>
            <div class="form-group fieldBack">
                <label for="back">Réponse</label>
                <textarea name="back"
                          class="form-control"
                          id="back"
                          placeholder="back of card"
                          rows="12"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="saveButton btn btn-lg btn-primary">Sauvegarder</button>
            </div>
        </form>
    </div>

    <div class="page-header">
        <h2>{{ cards|length }} Carte{{ '' if (cards|length == 1) else 's' }}</h2>
    </div>
    <div class="btn-group btn-group-md" role="group" aria-label="filters">
        <a href="{{ url_for('filter_cards', filter_name="all") }}" class="btn btn-{{ "primary" if filter_name == "all" else "default" }}">Tout</a>
        <a href="{{ url_for('filter_cards', filter_name="cpp") }}" class="btn btn-{{ "primary" if filter_name == "cpp" else "default" }}">C/C++</a>
        <a href="{{ url_for('filter_cards', filter_name="web") }}" class="btn btn-{{ "primary" if filter_name == "web" else "default" }}">Web</a>
		<a href="{{ url_for('filter_cards', filter_name="alglin") }}" class="btn btn-{{ "primary" if filter_name == "alglin" else "default" }}">Algèbre Linéaire</a>
		<a href="{{ url_for('filter_cards', filter_name="mathdi") }}" class="btn btn-{{ "primary" if filter_name == "mathdi" else "default" }}">Math Discrète</a>
		<a href="{{ url_for('filter_cards', filter_name="eco") }}" class="btn btn-{{ "primary" if filter_name == "eco" else "default" }}">Economie</a>
		<a href="{{ url_for('filter_cards', filter_name="systeme") }}" class="btn btn-{{ "primary" if filter_name == "systeme" else "default" }}">Système</a>

        <a href="{{ url_for('filter_cards', filter_name="known") }}" class="btn btn-{{ "primary" if filter_name == "known" else "default" }}">Appris</a>
        <a href="{{ url_for('filter_cards', filter_name="unknown") }}" class="btn btn-{{ "primary" if filter_name == "unknown" else "default" }}">En cours d'apprentissage</a>
    </div>

    <br />
    <br />

    <table class="table table-bordered">
        {% for card in cards %}
            <tr>
                <td>
                    <a href="{{ url_for('edit', card_id=card.id) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td class="cardContent">
                    <h4>
                        {{ card.front }}
                    </h4>
                    {% if card.type == 1 %}
                        {{ card.back|replace("\n", "<br />")|safe }}
                    {% else %}
                        <pre><code>{{ card.back|escape }}</code></pre>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <em>Aucune carte à afficher.</em>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}
